<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.topcased.org/ispem"
            class="org.topcased.ispem.IspemPackage"
            genModel="Models/ispem.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.thalesgroup.com/spem/2.0"
            class="org.topcased.spem.SpemPackage"
            genModel="Models/ispem.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.thalesgroup.com/spem/2.0/uma"
            class="org.topcased.spem.uma.UmaPackage"
            genModel="Models/ispem.genmodel"/>
   </extension>

</plugin>
