<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.topcased.modeler.templates">
      <template
            di="templates/org.topcased.modeler.ispem.methodcontentdefinition/%name%.ispemdi"
            model="templates/org.topcased.modeler.ispem.methodcontentdefinition/%name%.ispem"
            name="Method Content Definition Diagram"
            id="org.topcased.modeler.ispem.methodcontentdefinition.templates.org.topcased.modeler.ispem.methodcontentdefinition"
            editorId="org.topcased.modeler.ispem.editor.IspemEditor"/>
   </extension>
   
   <extension point="org.topcased.modeler.diagrams">
      <diagram
            configuration="org.topcased.modeler.ispem.methodcontentdefinition.MethodContentDefinitionConfiguration"
            id="org.topcased.modeler.ispem.methodcontentdefinition"
            name="Method Content Definition Diagram">
         <enableFor
               class="org.topcased.spem.MethodContentPackage">
         </enableFor>
      </diagram>
	</extension>
	
	
	<extension
       point="org.topcased.modeler.topcasedPreferenceInitializer">
    <preferenceInitializer
          class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramTopcasedPreferenceInitializer"
          editorId="org.topcased.modeler.ispem.editor.IspemEditor"
          id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionTopcasedPreferenceInitializer">
    </preferenceInitializer>
 </extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			category="org.topcased.modeler.ispem.preferences.IspemPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			name="MethodContentDefinitionDiagram"/>
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.TaskDefinitionPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.TaskDefinitionPreferencePage"
			name="TaskDefinition"/>
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.RoleDefinitionPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.RoleDefinitionPreferencePage"
			name="RoleDefinition"/>
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.WorkProductDefinitionPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.WorkProductDefinitionPreferencePage"
			name="WorkProductDefinition"/>
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.ToolDefinitionPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.ToolDefinitionPreferencePage"
			name="ToolDefinition"/>
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionParameterInPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionParameterInPreferencePage"
			name="Default_TaskDefinitionParameterIn"/>
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionParameterOutPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionParameterOutPreferencePage"
			name="Default_TaskDefinitionParameterOut"/>
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionParameterInOutPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionParameterInOutPreferencePage"
			name="Default_TaskDefinitionParameterInOut"/>
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionPerformerPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionPerformerPreferencePage"
			name="Default_TaskDefinitionPerformer"/>
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_ResponsibilityAssignmentPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_ResponsibilityAssignmentPreferencePage"
			name="Default_ResponsibilityAssignment"/>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.MethodContentDefinitionDiagramPreferencePage"
			category="org.topcased.modeler.ispem.preferences.property.IspemPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.MethodContentDefinitionDiagramPreferencePage"
			name="MethodContentDefinitionDiagram">       
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
		
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.TaskDefinitionPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.TaskDefinitionPreferencePage"
			name="TaskDefinition">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.RoleDefinitionPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.RoleDefinitionPreferencePage"
			name="RoleDefinition">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.WorkProductDefinitionPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.WorkProductDefinitionPreferencePage"
			name="WorkProductDefinition">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.ToolDefinitionPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.ToolDefinitionPreferencePage"
			name="ToolDefinition">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.Default_TaskDefinitionParameterInPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionParameterInPreferencePage"
			name="Default_TaskDefinitionParameterIn">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.Default_TaskDefinitionParameterOutPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionParameterOutPreferencePage"
			name="Default_TaskDefinitionParameterOut">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.Default_TaskDefinitionParameterInOutPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionParameterInOutPreferencePage"
			name="Default_TaskDefinitionParameterInOut">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.Default_TaskDefinitionPerformerPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_TaskDefinitionPerformerPreferencePage"
			name="Default_TaskDefinitionPerformer">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.Default_ResponsibilityAssignmentPreferencePage"
			category="org.topcased.modeler.ispem.methodcontentdefinition.preferences.property.MethodContentDefinitionDiagramPreferencePage"
			class="org.topcased.modeler.ispem.methodcontentdefinition.preferences.Default_ResponsibilityAssignmentPreferencePage"
			name="Default_ResponsibilityAssignment">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
	</extension>
 <extension
       point="org.topcased.modeler.synchronizedModelDiagramRule">
    <synchronizedModelDiagramRule
          graphicType="org.topcased.modeler.ispem.methodcontentdefinition.edit.TaskDefinitionEditPart"
          modelInterface="org.topcased.spem.TaskDefinition"
          synchronizationRule="org.topcased.modeler.ispem.methodcontentdefinition.rules.TaskSynchronisedModelDiagramRule">
    </synchronizedModelDiagramRule>
    <synchronizedModelDiagramRule
          graphicType="org.topcased.modeler.ispem.methodcontentdefinition.edit.RoleDefinitionEditPart"
          modelInterface="org.topcased.spem.RoleDefinition"
          synchronizationRule="org.topcased.modeler.ispem.methodcontentdefinition.rules.RoleSynchronisedModelDiagramRule">
    </synchronizedModelDiagramRule>
    <synchronizedModelDiagramRule
          graphicType="org.topcased.modeler.ispem.methodcontentdefinition.edit.WorkProductDefinitionEditPart"
          modelInterface="org.topcased.spem.WorkProductDefinition"
          synchronizationRule="org.topcased.modeler.ispem.methodcontentdefinition.rules.WorkProductSynchronisedModelDiagramRule">
    </synchronizedModelDiagramRule>
    <synchronizedModelDiagramRule
          graphicType="org.topcased.modeler.ispem.methodcontentdefinition.edit.ToolDefinitionEditPart"
          modelInterface="org.topcased.spem.ToolDefinition"
          synchronizationRule="org.topcased.modeler.ispem.methodcontentdefinition.rules.ToolSynchronisedModelDiagramRule">
    </synchronizedModelDiagramRule>
 </extension>

</plugin>
