<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.topcased.modeler.templates">
      <template
            di="templates/org.topcased.modeler.familyDia/%name%.familydi"
            model="templates/org.topcased.modeler.familyDia/%name%.family"
            name="MyFamily"
            id="org.topcased.modeler.familyDia.templates.org.topcased.modeler.familyDia"
            editorId="org.topcased.modeler.family.editor.FamilyEditor"/>
   </extension>
   
   <extension point="org.topcased.modeler.diagrams">
      <diagram
            configuration="org.topcased.modeler.familyDia.MyfamilyConfiguration"
            id="org.topcased.modeler.familyDia"
            name="MyFamily">
      </diagram>
	</extension>
	
	
	<extension
       point="org.topcased.modeler.topcasedPreferenceInitializer">
    <preferenceInitializer
          class="org.topcased.modeler.familyDia.preferences.MyfamilyDiagramTopcasedPreferenceInitializer"
          editorId="org.topcased.modeler.family.editor.FamilyEditor"
          id="org.topcased.modeler.familyDia.preferences.MyfamilyTopcasedPreferenceInitializer">
    </preferenceInitializer>
 </extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="org.topcased.modeler.familyDia.preferences.MyfamilyDiagramPreferencePage"
			category="org.topcased.modeler.family.preferences.FamilyPreferencePage"
			class="org.topcased.modeler.familyDia.preferences.MyfamilyDiagramPreferencePage"
			name="MyfamilyDiagram"/>
		<page
			id="org.topcased.modeler.familyDia.preferences.womanPreferencePage"
			category="org.topcased.modeler.familyDia.preferences.MyfamilyDiagramPreferencePage"
			class="org.topcased.modeler.familyDia.preferences.womanPreferencePage"
			name="woman"/>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.topcased.modeler.familyDia.preferences.property.MyfamilyDiagramPreferencePage"
			category="org.topcased.modeler.family.preferences.property.FamilyPreferencePage"
			class="org.topcased.modeler.familyDia.preferences.MyfamilyDiagramPreferencePage"
			name="MyfamilyDiagram">       
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
		
		<page
			id="org.topcased.modeler.familyDia.preferences.property.womanPreferencePage"
			category="org.topcased.modeler.familyDia.preferences.property.MyfamilyDiagramPreferencePage"
			class="org.topcased.modeler.familyDia.preferences.womanPreferencePage"
			name="woman">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
	</extension>

</plugin>
